<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

<div class="app-layout">
  <p-sidebar [(visible)]="sidebarVisible">
    <div class="card flex justify-content-center">
      <p-accordion *ngIf="sidebarVisible">
        <p-accordionTab *ngIf="currentUser.role === 'admin'" header="Employee">
          <div class="card flex justify-content-center">
            <p-menu [model]="employeeTab"></p-menu>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Attendance"
          ><div class="card flex justify-content-center">
            <p-menu [model]="attendanceTab"></p-menu>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Department"
          ><div class="card flex justify-content-center">
            <p-menu [model]="departmentTab"></p-menu>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Leave"
          ><div class="card flex justify-content-center">
            <p-menu [model]="leaveTab"></p-menu>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Performance"
          ><div class="card flex justify-content-center">
            <p-menu [model]="performanceTab"></p-menu>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </p-sidebar>

  <p-toolbar>
    <button class="sidebar-toggle-button" (click)="onToggleSidebar()">
      <i class="pi pi-bars"></i>
    </button>

    <h1 class="navbar-logo" style="cursor: pointer" (click)="dashboard()">
      <span>Manage-Wise</span>
    </h1>

    <div
      class="navbar-right"
      style="cursor: pointer"
      (click)="menu.toggle($event)"
    >
      <p-menu #menu [model]="userTab" [popup]="true"></p-menu>
      <div class="p-col-fixed">
        <i class="pi pi-user navbar-user-icon"></i>
      </div>

      <div class="p-col">
        <span class="navbar-user-name">{{ currentUser?.username }}</span>
      </div>
    </div>
  </p-toolbar>

  <div class="app-layout-content">
    <router-outlet></router-outlet>
  </div>
</div>
